USE [DB_HRMS]
GO
/****** Object:  Table [dbo].[TIMESHEET]    Script Date: 06/10/2014 15:22:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TIMESHEET](
	[TS_ID] [int] IDENTITY(1,1) NOT NULL,
	[TS_DESC] [nvarchar](30) NOT NULL,
	[TS_REF] [nvarchar](20) NOT NULL,
	[ORG_ID] [int] NOT NULL,
	[COY_ID] [int] NOT NULL,
	[WORKSTATION_ID] [nvarchar](30) NOT NULL,
	[CREATE_BY] [int] NOT NULL,
	[CREATE_DATE] [datetime] NOT NULL,
	[MODIFY_BY] [int] NOT NULL,
	[MODIFY_DATE] [datetime] NOT NULL,
	[START_DATE] [datetime] NOT NULL,
	[EXPIRY_DATE] [datetime] NOT NULL,
	[BILLABLE] [bit] NOT NULL,
	[PROJECT_ID] [int] NOT NULL,
	[ACT_ID] [int] NOT NULL,
	[EMP_ID] [int] NOT NULL,
 CONSTRAINT [PK_TIMESHEET] PRIMARY KEY CLUSTERED 
(
	[TS_ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PROJECT]    Script Date: 06/10/2014 15:22:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PROJECT](
	[PROJ_ID] [int] IDENTITY(1,1) NOT NULL,
	[PROJ_DESC] [nvarchar](30) NOT NULL,
	[PROJ_REF] [nvarchar](20) NOT NULL,
	[ORG_ID] [int] NOT NULL,
	[COY_ID] [int] NOT NULL,
	[WORKSTATION_ID] [nvarchar](30) NOT NULL,
	[CREATE_BY] [int] NOT NULL,
	[CREATE_DATE] [datetime] NOT NULL,
	[MODIFY_BY] [int] NOT NULL,
	[MODIFY_DATE] [datetime] NOT NULL,
 CONSTRAINT [PK_PROJECT] PRIMARY KEY CLUSTERED 
(
	[PROJ_ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ACTIVITY]    Script Date: 06/10/2014 15:22:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ACTIVITY](
	[ACT_ID] [int] IDENTITY(1,1) NOT NULL,
	[ACT_DESC] [nvarchar](30) NOT NULL,
	[ACT_REF] [nvarchar](20) NOT NULL,
	[ORG_ID] [int] NOT NULL,
	[COY_ID] [int] NOT NULL,
	[WORKSTATION_ID] [nvarchar](30) NOT NULL,
	[CREATE_BY] [int] NOT NULL,
	[CREATE_DATE] [datetime] NOT NULL,
	[MODIFY_BY] [int] NOT NULL,
	[MODIFY_DATE] [datetime] NOT NULL,
 CONSTRAINT [PK_ACTIVITY] PRIMARY KEY CLUSTERED 
(
	[ACT_ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Default [DF_ACTIVITY_ACT_DESC]    Script Date: 06/10/2014 15:22:37 ******/
ALTER TABLE [dbo].[ACTIVITY] ADD  CONSTRAINT [DF_ACTIVITY_ACT_DESC]  DEFAULT ('') FOR [ACT_DESC]
GO
/****** Object:  Default [DF_ACTIVITY_ACT_REF]    Script Date: 06/10/2014 15:22:37 ******/
ALTER TABLE [dbo].[ACTIVITY] ADD  CONSTRAINT [DF_ACTIVITY_ACT_REF]  DEFAULT ('') FOR [ACT_REF]
GO
/****** Object:  Default [DF_ACTIVITY_ORG_ID]    Script Date: 06/10/2014 15:22:37 ******/
ALTER TABLE [dbo].[ACTIVITY] ADD  CONSTRAINT [DF_ACTIVITY_ORG_ID]  DEFAULT ((0)) FOR [ORG_ID]
GO
/****** Object:  Default [DF_ACTIVITY_COY_ID]    Script Date: 06/10/2014 15:22:37 ******/
ALTER TABLE [dbo].[ACTIVITY] ADD  CONSTRAINT [DF_ACTIVITY_COY_ID]  DEFAULT ((0)) FOR [COY_ID]
GO
/****** Object:  Default [DF_ACTIVITY_WORKSTATION_ID]    Script Date: 06/10/2014 15:22:37 ******/
ALTER TABLE [dbo].[ACTIVITY] ADD  CONSTRAINT [DF_ACTIVITY_WORKSTATION_ID]  DEFAULT ('') FOR [WORKSTATION_ID]
GO
/****** Object:  Default [DF_ACTIVITY_CREATE_BY]    Script Date: 06/10/2014 15:22:37 ******/
ALTER TABLE [dbo].[ACTIVITY] ADD  CONSTRAINT [DF_ACTIVITY_CREATE_BY]  DEFAULT ((0)) FOR [CREATE_BY]
GO
/****** Object:  Default [DF_ACTIVITY_CREATE_DATE]    Script Date: 06/10/2014 15:22:37 ******/
ALTER TABLE [dbo].[ACTIVITY] ADD  CONSTRAINT [DF_ACTIVITY_CREATE_DATE]  DEFAULT (getdate()) FOR [CREATE_DATE]
GO
/****** Object:  Default [DF_ACTIVITY_MODIFY_BY]    Script Date: 06/10/2014 15:22:37 ******/
ALTER TABLE [dbo].[ACTIVITY] ADD  CONSTRAINT [DF_ACTIVITY_MODIFY_BY]  DEFAULT ((0)) FOR [MODIFY_BY]
GO
/****** Object:  Default [DF_ACTIVITY_MODIFT_DATE]    Script Date: 06/10/2014 15:22:37 ******/
ALTER TABLE [dbo].[ACTIVITY] ADD  CONSTRAINT [DF_ACTIVITY_MODIFT_DATE]  DEFAULT (getdate()) FOR [MODIFY_DATE]
GO
/****** Object:  Default [DF_PROJECT_PROJ_DESC]    Script Date: 06/10/2014 15:22:37 ******/
ALTER TABLE [dbo].[PROJECT] ADD  CONSTRAINT [DF_PROJECT_PROJ_DESC]  DEFAULT ('') FOR [PROJ_DESC]
GO
/****** Object:  Default [DF_PROJECT_PROJ_REF]    Script Date: 06/10/2014 15:22:37 ******/
ALTER TABLE [dbo].[PROJECT] ADD  CONSTRAINT [DF_PROJECT_PROJ_REF]  DEFAULT ('') FOR [PROJ_REF]
GO
/****** Object:  Default [DF_PROJECT_ORG_ID]    Script Date: 06/10/2014 15:22:37 ******/
ALTER TABLE [dbo].[PROJECT] ADD  CONSTRAINT [DF_PROJECT_ORG_ID]  DEFAULT ((0)) FOR [ORG_ID]
GO
/****** Object:  Default [DF_PROJECT_COY_ID]    Script Date: 06/10/2014 15:22:37 ******/
ALTER TABLE [dbo].[PROJECT] ADD  CONSTRAINT [DF_PROJECT_COY_ID]  DEFAULT ((0)) FOR [COY_ID]
GO
/****** Object:  Default [DF_PROJECT_WORKSTATION_ID]    Script Date: 06/10/2014 15:22:37 ******/
ALTER TABLE [dbo].[PROJECT] ADD  CONSTRAINT [DF_PROJECT_WORKSTATION_ID]  DEFAULT ('') FOR [WORKSTATION_ID]
GO
/****** Object:  Default [DF_PROJECT_CREATE_BY]    Script Date: 06/10/2014 15:22:37 ******/
ALTER TABLE [dbo].[PROJECT] ADD  CONSTRAINT [DF_PROJECT_CREATE_BY]  DEFAULT ((0)) FOR [CREATE_BY]
GO
/****** Object:  Default [DF_PROJECT_CREATE_DATE]    Script Date: 06/10/2014 15:22:37 ******/
ALTER TABLE [dbo].[PROJECT] ADD  CONSTRAINT [DF_PROJECT_CREATE_DATE]  DEFAULT (getdate()) FOR [CREATE_DATE]
GO
/****** Object:  Default [DF_PROJECT_MODIFY_BY]    Script Date: 06/10/2014 15:22:37 ******/
ALTER TABLE [dbo].[PROJECT] ADD  CONSTRAINT [DF_PROJECT_MODIFY_BY]  DEFAULT ((0)) FOR [MODIFY_BY]
GO
/****** Object:  Default [DF_PROJECT_MODIFY_DATE]    Script Date: 06/10/2014 15:22:37 ******/
ALTER TABLE [dbo].[PROJECT] ADD  CONSTRAINT [DF_PROJECT_MODIFY_DATE]  DEFAULT (getdate()) FOR [MODIFY_DATE]
GO
/****** Object:  Default [DF_TIMESHEET_TS_DESC]    Script Date: 06/10/2014 15:22:37 ******/
ALTER TABLE [dbo].[TIMESHEET] ADD  CONSTRAINT [DF_TIMESHEET_TS_DESC]  DEFAULT ('') FOR [TS_DESC]
GO
/****** Object:  Default [DF_TIMESHEET_TS_REF]    Script Date: 06/10/2014 15:22:37 ******/
ALTER TABLE [dbo].[TIMESHEET] ADD  CONSTRAINT [DF_TIMESHEET_TS_REF]  DEFAULT ('') FOR [TS_REF]
GO
/****** Object:  Default [DF_TIMESHEET_ORG_ID]    Script Date: 06/10/2014 15:22:37 ******/
ALTER TABLE [dbo].[TIMESHEET] ADD  CONSTRAINT [DF_TIMESHEET_ORG_ID]  DEFAULT ((0)) FOR [ORG_ID]
GO
/****** Object:  Default [DF_TIMESHEET_COY_ID]    Script Date: 06/10/2014 15:22:37 ******/
ALTER TABLE [dbo].[TIMESHEET] ADD  CONSTRAINT [DF_TIMESHEET_COY_ID]  DEFAULT ((0)) FOR [COY_ID]
GO
/****** Object:  Default [DF_TIMESHEET_WORKSTATION_ID]    Script Date: 06/10/2014 15:22:37 ******/
ALTER TABLE [dbo].[TIMESHEET] ADD  CONSTRAINT [DF_TIMESHEET_WORKSTATION_ID]  DEFAULT ('') FOR [WORKSTATION_ID]
GO
/****** Object:  Default [DF_TIMESHEET_CREATE_BY]    Script Date: 06/10/2014 15:22:37 ******/
ALTER TABLE [dbo].[TIMESHEET] ADD  CONSTRAINT [DF_TIMESHEET_CREATE_BY]  DEFAULT ((0)) FOR [CREATE_BY]
GO
/****** Object:  Default [DF_TIMESHEET_CREATE_DATE]    Script Date: 06/10/2014 15:22:37 ******/
ALTER TABLE [dbo].[TIMESHEET] ADD  CONSTRAINT [DF_TIMESHEET_CREATE_DATE]  DEFAULT (getdate()) FOR [CREATE_DATE]
GO
/****** Object:  Default [DF_TIMESHEET_MODIFY_BY]    Script Date: 06/10/2014 15:22:37 ******/
ALTER TABLE [dbo].[TIMESHEET] ADD  CONSTRAINT [DF_TIMESHEET_MODIFY_BY]  DEFAULT ((0)) FOR [MODIFY_BY]
GO
/****** Object:  Default [DF_TIMESHEET_MODIFY_DATE]    Script Date: 06/10/2014 15:22:37 ******/
ALTER TABLE [dbo].[TIMESHEET] ADD  CONSTRAINT [DF_TIMESHEET_MODIFY_DATE]  DEFAULT (getdate()) FOR [MODIFY_DATE]
GO
/****** Object:  Default [DF_TIMESHEET_START_DATE]    Script Date: 06/10/2014 15:22:37 ******/
ALTER TABLE [dbo].[TIMESHEET] ADD  CONSTRAINT [DF_TIMESHEET_START_DATE]  DEFAULT (getdate()) FOR [START_DATE]
GO
/****** Object:  Default [DF_TIMESHEET_END_DATE]    Script Date: 06/10/2014 15:22:37 ******/
ALTER TABLE [dbo].[TIMESHEET] ADD  CONSTRAINT [DF_TIMESHEET_END_DATE]  DEFAULT (getdate()) FOR [EXPIRY_DATE]
GO
/****** Object:  Default [DF_TIMESHEET_Billable]    Script Date: 06/10/2014 15:22:37 ******/
ALTER TABLE [dbo].[TIMESHEET] ADD  CONSTRAINT [DF_TIMESHEET_Billable]  DEFAULT ((0)) FOR [BILLABLE]
GO
/****** Object:  Default [DF_TIMESHEET_PROJ_ID]    Script Date: 06/10/2014 15:22:37 ******/
ALTER TABLE [dbo].[TIMESHEET] ADD  CONSTRAINT [DF_TIMESHEET_PROJ_ID]  DEFAULT ((0)) FOR [PROJ_ID]
GO
/****** Object:  Default [DF_TIMESHEET_ACT_ID]    Script Date: 06/10/2014 15:22:37 ******/
ALTER TABLE [dbo].[TIMESHEET] ADD  CONSTRAINT [DF_TIMESHEET_ACT_ID]  DEFAULT ((0)) FOR [ACT_ID]
GO
/****** Object:  Default [DF_TIMESHEET_EMP_ID]    Script Date: 06/10/2014 15:22:37 ******/
ALTER TABLE [dbo].[TIMESHEET] ADD  CONSTRAINT [DF_TIMESHEET_EMP_ID]  DEFAULT ((0)) FOR [EMP_ID]
GO
